.carousel-text-sm {
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.carousel-caption {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: bold
}

